.helpbar__container {
  padding: 10px 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-bottom: .5px solid #9a9a9a;

  div {
    display: flex;
    align-items: center;
    gap: 10px;
<<<<<<< HEAD
=======

    @media (max-width: 576px){
      display: none;
    }
>>>>>>> 6bdf6ce1fbc4d0b40d3f0d58e925424bb5d54c41
  }

  img {
    height: 30px;
<<<<<<< HEAD
=======

    @media (max-width: 576px){
      
    }
>>>>>>> 6bdf6ce1fbc4d0b40d3f0d58e925424bb5d54c41
  }
}
