.showcases__container {
  margin-top: 145px;

  h1 {
    font-size: 3.8em;
    padding: 80px 5vw;
    background: url("https://images.unsplash.com/photo-1529154631088-a0e516571c60?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80")
      no-repeat fixed;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
    color: #fff;
  }

  h2 {
    padding: 10px 2vw;
  }

  .MuiBox-root {
    padding: 0 5vw;

    .gameDetails {
      padding: 25px 0;

      span {
        font-weight: 500;
        margin-bottom: 10px;
        font-size: 22px;
        display: flex;
        align-items: center;
        gap: 5px;
      }

      .gameDetails__item {
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #5a5a5a;
        border-bottom: 0.5px solid #9a9a9a;
        padding: 15px 0;
        position: relative;

        .gameDetails__location{
            display: flex;
            align-items: center;
            position: absolute;
            left: 50%;
            top: 50%;
            gap: 5px;
            transform: translate3d(-50%, -50%, 0);
        }

        .gameDetails__teamDetails {
          display: flex;
          align-items: center;
          gap: 10px;

          .teamName {
            font-weight: 500;
            color: #4a4a4a;
            font-size: 18px;
            display: flex;
            align-items: center;
            width: 7.5vw;
            justify-content: center;
          }

          .home__Image{
            width: 50px;
            display: flex;
            align-items: center;
            align-items: center;
            img{
              width: 100%;
            }
          }

          .gameTime{
            border: 1px solid #9a9a9a;
            padding: 3px;
          }

          .Away__Image{
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            
          }
        }

        .gameDetails__action{
            .MuiButton-root{
                text-transform: capitalize;
                padding: 1px 5px;
                color: #000;

                &.quickView{
                    border: 1px solid #9a9a9a;
                }
            }
        }
      }
    }
  }

  .quickViewModal__container{
    position: fixed;
    // position: ;
    top: 0;
    left: 0;
    z-index: 2;
    background: #0009;
    width: 100vw;
    height: 100vh;


    .container{
      position: relative;
      width: 100vw;
      height: 100vh;

      .item{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        background: #fff;
        padding: 20px 30px;
        border-radius: 16px;

        .closeBtn{
          display: flex;
          align-items: center;
          gap: 8px;
        }

        .info__container{
          display: flex;
          align-items: center;
          justify-content: space-between;

          div{
            font-size: 1.2em;
          }

          button{
            font-size: 1.2em;
          }
        }

        .topBar{
          display: flex;
          align-items: center;
          gap: 20px;
          justify-content: center;

          div {
            font-size: 1.1em;
          }

          img{
            width: 60px; 
            height: 60px;
          }
        }

        .stadiumInformation{
          text-align: center;
          font-size: 1.2em;
          padding: 15px 0;
        }
        .actions{
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;
          button{
            font-size: 18px;
          }
        }
      }
    }
  }
}

#root > div.showcases__container > div > div.MuiBox-root.css-1gsv261 > div > div > div {
  align-items: center;
  justify-content: center;
}
