.topbar__container {
  padding: 5px 5vw;
  background: #fff;
  font-size: 15px;
  display: flex;
  gap: 2vw;
  .image__container {
    overflow-x: scroll;
    display: flex;
    img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
  }
}
