@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    z-index: 0;
}

*::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.fixedBars__container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
}

body{
    position: relative;
    overflow-x: hidden;
    --color-background: rgb(51, 51, 51);
    --color-on-background:#fff;

    --color-tooltip:rgba(0,5,11,0.9);
    --color-on-tooltip: #fff;

    --color-handle-fill: #2c343a;
    --color-handle-stroke: #67c2e4;
    --color-handle-drag-fill: transparent;
    --color-handle-dots: #67c2e4;
    --color-handle-line: #67c2e4;
}