.dashboard__container {
  display: flex;
  align-items: flex-start;
  height: 100vh;

  .dashboardSidebar,
  .dashboardMain {
    height: 100%;
    overflow-y: scroll;
    padding: 12px;
  }

  .dashboardSidebar {
    min-width: 22vw;
    background: #f1f2f6;
    padding: 22px 15px;

    .title {
      display: flex;
      align-items: center;
      gap: 8px;
      border-bottom: 0.5px solid #0001;
      padding-bottom: 12px;
      margin-bottom: 10px;

      img {
        width: 35px;
        height: 35px;
        object-fit: contain;
      }
    }

    .sidebarMenuItems__container {
      display: flex;
      align-items: center;
      flex-direction: column;

      .MuiButton-root {
        flex: 1;
        width: 100%;
        justify-content: left;
        padding: 12px 15px;
        color: #000;
        text-transform: capitalize;
        font-size: 16px;
        gap: 10px;

        &.active {
          background: #05a8ff33;
        }
      }
    }
  }

  .dashboardMain {
    flex: 1;
    overflow: hidden;

    .dashboardMain__topbar {
      background: #00aaff6d;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 5px 15px;
      gap: 10px;
      border-radius: 3px;

      .MuiButton-root {
        display: flex;
        gap: 8px;
        text-transform: capitalize;
        color: #000;
        font-size: 15px;
        font-weight: 500;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
          border: 1px solid #fff;
          padding: 3px;
        }

        h2 {
          font-weight: 500;
        }
      }
    }

    .home__container {
      padding: 15px;

      .userheatmap__container {
        h3 {
          margin-bottom: 10px;
        }
      }
    }

    .marketplaces__container {
      .title {
        padding: 15px 15px 0 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
          font-weight: 500;
        }

        .rightTitleBar{
            display: flex;
            align-items: center;
            gap: 10px;
            
            .searchInputs{
                border: .5px solid #0001;
                padding: 10px 8px;

                display: flex;
                align-items: center;
                gap: 5px;
                input{
                    border: none;
                    font-size: 16px;
                    min-width: 15vw;
    
                    &:focus{
                        outline: none;
                    }
                }
            }

            .MuiButton-root {
              gap: 5px;
              color: #fff;
              background: #27ae5fcc;
            }
        }
      }

      .marketplace__items {
        padding: 15px;
        margin-top: 20px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        height: 82vh;
        overflow-y: scroll;
        padding-bottom: 30px;

        .marketplaceItem {
          flex: 1 1 0;
          max-width: 23vw;
          min-width: 20vw;
          margin-bottom: 8px;
          color: #000;
          border-radius: 16px;
          overflow: hidden;
          background: #fff;
          box-shadow: 4px 6px 10px 8px rgba(0, 0, 0, 0.08);
          -webkit-box-shadow: 4px 6px 10px 8px rgba(0, 0, 0, 0.08);
          -moz-box-shadow: 4px 6px 10px 8px rgba(0, 0, 0, 0.08);
          cursor: pointer;
          transition: 0.3s all ease-in-out;

          &:hover {
            transform: scale(1.02);
          }

          img {
            width: 100%;
            height: 150px;
            object-fit: cover;
          }

          .details {
            padding: 0 12px 15px 12px;

            .marketplaceItem__title{
                display: flex;
                align-items: center;

                h4{
                    flex: 1;
                }

                .MuiButton-root{
                    gap: 5px;
                }
            }

            .info {
              display: flex;
              align-items: center;
              margin-top: 8px;
              gap: 10px;
              p {
                flex: 1 1 0;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
