.chatroom__container {
  margin-top: 145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-height: 82vh;
  height: 82vh;
  padding: 15px 0;
  overflow-y: hidden;
}
@media (max-width: 576px) {
  .chatroom__container {
    height: 80vh;
  }
}
.chatroom__container .rooms {
  width: 23vw;
  border-right: 0.5px solid #9a9a9a;
  height: 100%;
}
@media (max-width: 576px) {
  .chatroom__container .rooms {
    width: 100vw;
  }
}
.chatroom__container .rooms .topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
  margin-bottom: 10px;
}
.chatroom__container .rooms .topbar img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.chatroom__container .rooms .topbar .MuiButton-root {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  min-width: 0;
}
.chatroom__container .rooms .topbar .MuiButton-root i {
  font-size: 20px;
}
.chatroom__container .rooms .roomsItems {
  overflow-y: scroll;
  height: 91%;
}
@media (max-width: 576px) {
  .chatroom__container .rooms .roomsItems {
    height: 70vh;
  }
}
.chatroom__container .rooms .roomsItems .chathead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 15px;
  text-transform: capitalize;
  font-weight: 400;
  width: 92%;
  text-align: left;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin: 0 10px;
  color: #000;
  border-radius: 0;
}
@media (max-width: 576px) {
  .chatroom__container .rooms .roomsItems .chathead {
    border-top: 0.5px solid #9a9a9a;
  }
}
.chatroom__container .rooms .roomsItems .chathead.active {
  background: #f4f4f5;
}
@media (max-width: 576px) {
  .chatroom__container .rooms .roomsItems .chathead.active {
    background: #fff;
  }
}
.chatroom__container .rooms .roomsItems .chathead .imgHolder {
  position: relative;
}
.chatroom__container .rooms .roomsItems .chathead .imgHolder img {
  position: absolute;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  background: #fff;
}
.chatroom__container .rooms .roomsItems .chathead .imgHolder img:first-child {
  left: 0;
  z-index: 0;
}
.chatroom__container .rooms .roomsItems .chathead .imgHolder img:last-child {
  left: 25px;
  z-index: 1;
  box-shadow: -4px 4px 5px 0px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: -4px 4px 5px 0px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: -4px 4px 5px 0px rgba(0, 0, 0, 0.13);
}
.chatroom__container .rooms .roomsItems .chathead .username {
  width: 90%;
  margin-left: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.chatroom__container .rooms .roomsItems .chathead .username p {
  font-weight: 400;
  font-size: 15px;
}
.chatroom__container .rooms .roomsItems .chathead .username i {
  font-size: 16px;
}
.chatroom__container .chatbox {
  border-right: 0.5px solid #9a9a9a;
  height: 100%;
  width: 53vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 576px) {
  .chatroom__container .chatbox {
    width: 100vw;
    height: 75vh;
  }
}
.chatroom__container .chatbox .topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  padding-top: 0;
  border-bottom: 0.5px solid #9a9a9a;
}
@media (max-width: 576px) {
  .chatroom__container .chatbox .topbar {
    font-size: 14px;
  }
}
.chatroom__container .chatbox .topbar .chathead__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.chatroom__container .chatbox .topbar .chathead__info .imgHolder {
  position: relative;
}
.chatroom__container .chatbox .topbar .chathead__info .imgHolder img {
  position: absolute;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  background: #fff;
}
@media (max-width: 576px) {
  .chatroom__container .chatbox .topbar .chathead__info .imgHolder img {
    width: 25px;
    height: 25px;
  }
}
.chatroom__container .chatbox .topbar .chathead__info .imgHolder img:first-child {
  left: 0;
  z-index: 0;
}
.chatroom__container .chatbox .topbar .chathead__info .imgHolder img:last-child {
  left: 25px;
  z-index: 1;
  box-shadow: -4px 4px 5px 0px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: -4px 4px 5px 0px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: -4px 4px 5px 0px rgba(0, 0, 0, 0.13);
}
@media (max-width: 576px) {
  .chatroom__container .chatbox .topbar .chathead__info .imgHolder img:last-child {
    left: 20px;
  }
}
.chatroom__container .chatbox .topbar .chathead__info h3 {
  margin-left: 70px;
  font-weight: 500;
}
@media (max-width: 576px) {
  .chatroom__container .chatbox .topbar .chathead__info h3 {
    margin-left: 53px;
  }
}
.chatroom__container .chatbox .topbar .MuiButton-root {
  text-transform: capitalize;
  font-size: 16px;
  gap: 5px;
}
.chatroom__container .chatbox .chats {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 15px;
  height: 85%;
}
.chatroom__container .chatbox .chats .messageItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 100%;
  overflow-y: scroll;
}
@media (max-width: 576px) {
  .chatroom__container .chatbox .chats .messageItems {
    gap: 15px;
  }
}
.chatroom__container .chatbox .chats .messageItems .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
}
.chatroom__container .chatbox .chats .messageItems .message img {
  width: 35px;
  height: 35px;
}
.chatroom__container .chatbox .chats .messageItems .message .messageContent {
  background: #f4f4f5;
  padding: 10px 15px;
  border-radius: 0 15px 15px 15px;
  color: #3a3a3a;
  line-height: 1.5;
  font-size: 15px;
}
@media (max-width: 576px) {
  .chatroom__container .chatbox .chats .messageItems .message .messageContent {
    font-size: 14px;
  }
}
.chatroom__container .chatbox .inputField {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
@media (max-width: 576px) {
  .chatroom__container .chatbox .inputField {
    padding: 0 2vw;
  }
}
.chatroom__container .chatbox .inputField .MuiButton-root {
  font-size: 20px;
  min-width: 0;
}
@media (max-width: 576px) {
  .chatroom__container .chatbox .inputField .MuiButton-root {
    padding: 3px 5px;
  }
}
.chatroom__container .chatbox .inputField input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #f4f4f5;
  border: none;
  font-size: 16px;
  padding: 8px 10px;
  border-radius: 10px;
}
.chatroom__container .chatbox .inputField input:focus {
  outline: none;
}
.chatroom__container .rightbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media (max-width: 576px) {
  .chatroom__container .rightbar {
    display: none;
  }
}
.chatroom__container .rightbar h3 {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}
.chatroom__container .rightbar .leaderboards {
  height: 94%;
  padding: 0 15px;
}
.chatroom__container .rightbar .leaderboards .leaderboardItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
}
.chatroom__container .rightbar .leaderboards .leaderboardItems .item {
  border-top: 0.5px solid #9a9a9a;
  padding-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
}
.chatroom__container .rightbar .leaderboards .leaderboardItems .item .topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
  font-size: 18px;
}
.chatroom__container .rightbar .leaderboards .leaderboardItems .item .topbar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
<<<<<<< HEAD
  gap: 8px;
=======
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3px;
>>>>>>> 83916599306400dcb7b253db653ea8dd05ef79e0
}
.chatroom__container .rightbar .leaderboards .leaderboardItems .item .topbar div img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  background: #fff;
}
.chatroom__container .rightbar .leaderboards .leaderboardItems .item .topbar span {
  font-size: 22px;
}
.chatroom__container .rightbar .leaderboards .leaderboardItems .item .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}
.chatroom__container .rightbar .leaderboards .leaderboardItems .item .feeds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 8px;
  color: #7a7a7a;
}
.chatroom__container .rightbar .leaderboards .leaderboardItems .item .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-top: 10px;
}
.chatroom__container .rightbar .leaderboards .leaderboardItems .item .actions .MuiButton-root {
  text-transform: capitalize;
  color: #000;
  gap: 5px;
  background: #dbf1ff;
  padding: 2px 15px;
}