.chatroom__container {
  margin-top: 145px;
  display: flex;
  align-items: flex-start;
  max-height: 82vh;
  height: 82vh;
  padding: 15px 0;
  overflow-y: hidden;

  @media (max-width: 576px){
    height: 80vh;
  }

  .rooms {
    width: 23vw;
    border-right: 0.5px solid #9a9a9a;
    height: 100%;

    @media (max-width: 576px) {
      width: 100vw;
    }

    .topbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 15px;
      margin-bottom: 10px;

      img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
      }

      .MuiButton-root {
        justify-content: right;
        min-width: 0;

        i {
          font-size: 20px;
        }
      }
    }

    .roomsItems {
      overflow-y: scroll;
      height: 91%;
      @media (max-width: 576px) {
        height: 70vh;
      }
      .chathead {
        display: flex;
        align-items: center;
        padding: 18px 15px;
        text-transform: capitalize;
        font-weight: 400;
        width: 92%;
        text-align: left;
        justify-content: left;
        margin: 0 10px;
        color: #000;
        border-radius: 0;

        @media (max-width: 576px) {
          border-top: 0.5px solid #9a9a9a;
        }
        &.active {
          background: #f4f4f5;

          @media (max-width: 576px) {
            background: #fff;
          }
        }

        .imgHolder {
          position: relative;

          img {
            position: absolute;
            top: 50%;
            transform: translate3d(0, -50%, 0);
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 50%;
            background: #fff;

            &:first-child {
              left: 0;
              z-index: 0;
            }
            &:last-child {
              left: 25px;
              z-index: 1;
              box-shadow: -4px 4px 5px 0px rgba(0, 0, 0, 0.13);
              -webkit-box-shadow: -4px 4px 5px 0px rgba(0, 0, 0, 0.13);
              -moz-box-shadow: -4px 4px 5px 0px rgba(0, 0, 0, 0.13);
            }
          }
        }

        .username {
          width: 90%;
          margin-left: 70px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          p {
            font-weight: 400;
            font-size: 15px;
          }

          i {
            font-size: 16px;
          }
        }
      }
    }
  }

  .chatbox {
    border-right: 0.5px solid #9a9a9a;
    height: 100%;
    width: 53vw;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    @media (max-width: 576px) {
      width: 100vw;
      height: 75vh;
    }

    .topbar {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      padding: 15px;
      padding-top: 0;
      border-bottom: 0.5px solid #9a9a9a;

      @media (max-width: 576px) {
        font-size: 14px;
      }

      .chathead__info {
        display: flex;
        align-items: center;
        
        .imgHolder {
          position: relative;

          img {
            position: absolute;
            top: 50%;
            transform: translate3d(0, -50%, 0);
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 50%;
            background: #fff;

            @media (max-width: 576px) {
              width: 25px;
              height: 25px;
            }

            &:first-child {
              left: 0;
              z-index: 0;
            }
            &:last-child {
              left: 25px;
              z-index: 1;
              box-shadow: -4px 4px 5px 0px rgba(0, 0, 0, 0.13);
              -webkit-box-shadow: -4px 4px 5px 0px rgba(0, 0, 0, 0.13);
              -moz-box-shadow: -4px 4px 5px 0px rgba(0, 0, 0, 0.13);

              @media (max-width: 576px) {
                left: 20px;
              }
            }
          }
        }

        h3 {
          margin-left: 70px;
          font-weight: 500;

          @media (max-width: 576px) {
            margin-left: 53px;
          }
        }
      }
      .MuiButton-root {
        text-transform: capitalize;
        font-size: 16px;
        gap: 5px;
      }
    }

    .chats {
      flex: 1;
      padding: 15px;
      height: 85%;

      .messageItems {
        display: flex;
        align-items: flex-start;
        gap: 20px;
        flex-direction: column;
        max-height: 100%;
        overflow-y: scroll;

        @media (max-width: 576px) {
          gap: 15px;
        }

        .message {
          display: flex;
          align-items: flex-start;
          gap: 10px;

          img {
            width: 35px;
            height: 35px;
          }

          .messageContent {
            background: #f4f4f5;
            padding: 10px 15px;
            border-radius: 0 15px 15px 15px;
            color: #3a3a3a;
            line-height: 1.5;
            font-size: 15px;

            @media (max-width: 576px) {
              font-size: 14px;
            }
          }
        }
      }
    }

    .inputField {
      display: flex;
      align-items: center;
      width: 100%;

      @media (max-width: 576px) {
        padding: 0 2vw;
      }

      .MuiButton-root {
        font-size: 20px;
        min-width: 0;
        

        @media (max-width: 576px) {
          padding: 3px 5px;
        }
      }

      input {
        flex: 1;
        background: #f4f4f5;
        border: none;
        font-size: 16px;
        padding: 8px 10px;
        border-radius: 10px;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .rightbar {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;

    @media (max-width: 576px) {
      display: none;
    }

    h3 {
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 5px;
      margin-bottom: 10px;
    }

    .leaderboards {
      height: 94%;
      padding: 0 15px;

      .leaderboardItems {
        display: flex;
        height: 100%;
        flex-direction: column;
        overflow-y: scroll;

        .item {
          border-top: 0.5px solid #9a9a9a;
          padding-top: 10px;
          margin-bottom: 10px;
          font-size: 15px;

          .topbar {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 10px;
            font-size: 18px;

            div {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 3px;

              img {
                width: 40px;
                height: 40px;
                object-fit: cover;
                border-radius: 50%;
                background: #fff;
              }
            }

            span {
              font-size: 22px;
            }
          }

          .location {
            display: flex;
            align-items: center;
            gap: 5px;
            margin-bottom: 5px;
          }

          .feeds {
            display: flex;
            justify-content: space-between;
            padding: 0 8px;
            color: #7a7a7a;
          }

          .actions {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-top: 10px;

            .MuiButton-root {
              text-transform: capitalize;
              color: #000;
              gap: 5px;
              background: #dbf1ff;
              padding: 2px 15px;
            }
          }
        }
      }
    }
  }
}